---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left
ReferenceAlignment: Left

IndentRequiresClause: true
BreakBeforeConceptDeclarations: Always

SpaceAfterTemplateKeyword: true
SpaceBeforeRangeBasedForLoopColon: true