#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="support/esp32s3/partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="support/esp32s3/partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# Serial flasher config
#
# CONFIG_ESPTOOLPY_NO_STUB is not set
# CONFIG_ESPTOOLPY_OCT_FLASH is not set
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=y
# CONFIG_ESPTOOLPY_FLASHMODE_QIO is not set
# CONFIG_ESPTOOLPY_FLASHMODE_QOUT is not set
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
# CONFIG_ESPTOOLPY_FLASHMODE_DOUT is not set
CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_STR=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
# CONFIG_ESPTOOLPY_FLASHFREQ_120M is not set
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
# CONFIG_ESPTOOLPY_FLASHFREQ_40M is not set
# CONFIG_ESPTOOLPY_FLASHFREQ_20M is not set
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
# CONFIG_ESPTOOLPY_FLASHSIZE_1MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_32MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_64MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_128MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
# CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE is not set
CONFIG_ESPTOOLPY_BEFORE_RESET=y
CONFIG_ESPTOOLPY_BEFORE="default_reset"
CONFIG_ESPTOOLPY_AFTER_RESET=y
CONFIG_ESPTOOLPY_AFTER="hard_reset"
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
# end of Serial flasher config

#
# DALI MQTT Bridge Settings
#

#
# DALI Interface Configuration
#
CONFIG_DALI2MQTT_DALI_RX_PIN=14
CONFIG_DALI2MQTT_DALI_TX_PIN=17
CONFIG_DALI2MQTT_DALI_DEFAULT_POLL_INTERVAL_MS=300000
CONFIG_DALI2MQTT_DALI_TRANSACTION_TIMEOUT_MS=100
CONFIG_DALI2MQTT_DALI_INTER_FRAME_DELAY_MS=20
CONFIG_DALI2MQTT_DALI_POLL_DELAY_MS=50

#
# Task Configuration
#
CONFIG_DALI2MQTT_DALI_POLL_TASK_STACK_SIZE=4096
CONFIG_DALI2MQTT_DALI_POLL_TASK_PRIORITY=5
# end of DALI Interface Configuration

#
# MQTT Client Configuration
#
CONFIG_DALI2MQTT_MQTT_BASE_TOPIC="dali_bridge"
CONFIG_DALI2MQTT_MQTT_AVAILABILITY_TOPIC="/status"
CONFIG_DALI2MQTT_MQTT_LIGHT_CMD_SUBTOPIC="/light/+/+/set"
CONFIG_DALI2MQTT_MQTT_LIGHT_STATE_SUBTOPIC="/light"
CONFIG_DALI2MQTT_MQTT_SCENE_CMD_SUBTOPIC="/scene/set"
CONFIG_DALI2MQTT_MQTT_CONFIG_SET_SUBTOPIC="/config/set"
CONFIG_DALI2MQTT_MQTT_CONFIG_GET_SUBTOPIC="/config/get"
CONFIG_DALI2MQTT_MQTT_CONFIG_RESP_SUBTOPIC="/config/get/response"
CONFIG_DALI2MQTT_MQTT_GROUP_SET_SUBTOPIC="/config/group/set"
CONFIG_DALI2MQTT_MQTT_GROUP_RES_SUBTOPIC="/config/group/result"
CONFIG_DALI2MQTT_MQTT_PAYLOAD_ONLINE="online"
CONFIG_DALI2MQTT_MQTT_PAYLOAD_OFFLINE="offline"
# end of MQTT Client Configuration

#
# WiFi AP Credentials
#
CONFIG_DALI2MQTT_WIFI_AP_SSID="DALI-MQTT-Bridge"
CONFIG_DALI2MQTT_WIFI_AP_PASS="bridge123"
CONFIG_DALI2MQTT_WIFI_MAX_RETRY=5
CONFIG_DALI2MQTT_WIFI_DEEP_SLEEP_S=60

CONFIG_DALI2MQTT_SYSLOG_ENABLED_BY_DEFAULT=y
CONFIG_DALI2MQTT_SYSLOG_DEFAULT_SERVER=10.0.10.9

# end of WiFi AP Credentials

#
# NVS Configuration
#
CONFIG_DALI2MQTT_NVS_NAMESPACE="dali_cfg"
# end of NVS Configuration

#
# Web UI Configuration
#
CONFIG_DALI2MQTT_WEBUI_SPIFFS_PARTITION_LABEL="web_storage"
CONFIG_DALI2MQTT_WEBUI_DEFAULT_USER="admin"
CONFIG_DALI2MQTT_WEBUI_DEFAULT_PASS="admin"
# end of Web UI Configuration
# end of DALI MQTT Bridge Settings


CONFIG_ESP_SYSTEM_EVENT_QUEUE_SIZE=32
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=3584

#
# Log Level
#
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_MAXIMUM_EQUALS_DEFAULT=y
# CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE is not set
CONFIG_LOG_MAXIMUM_LEVEL=4

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y